{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "all",
	"printWidth": 120,
	"arrowParens": "avoid",
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
